@model IEnumerable<API_REST.Models.Reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_personas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pago.Factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede.Pais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_personas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago.Factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sede.Pais)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cod_Reserva }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cod_Reserva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cod_Reserva })
        </td>
    </tr>
}

</table>
